---
title: 'footer'
import {Image} from 'astro:assets';
import me from '../assets/pfp-me.png';
import shyla from '../assets/pfp-shyla.png';
import renran from '../assets/pfp-renran.png';
import susan from '../assets/pfp-susan.png';
import yunfei from '../assets/pfp-yunfei.png';
import alisa from '../assets/pfp-alisa.png';
import sophia from '../assets/pfp-sophia.png';
import logo from '../assets/logo.png';
import icon from '../assets/favicon-big.png';
---
<div class="bg-[#242781]">
    <div class="px-[4vh] pb-[4vh] checkerboard">
        <div>
            
        </div>
        <div class="max-w-none w-fit place-self-center text-center items-center justify-center rounded-4xl font-main sm:mx-[4vh] md:mx-[6vh] lg:mx-[12vh] p-[3vh] shadow-lg shadow-[#242781] stripes">
            <div class="flex place-self-center flex-wrap justify-center gap-[1vh] w-fit">
                <Image src={logo} alt="Storyboard logo" width="200" class="mb-[1.5vh] duration-300 hover:scale-105" />
                <Image src={icon} alt="Storyboard cat" width="120" class="hidden md:inline mb-[1.5vh] duration-300 hover:scale-105" />
            </div>
            <div class="flex flex-wrap gap-[1vh] justify-center w-fit">
                <div class="hover-wrapper">
                    <Image src={me} alt="Kat Wang" width="80" class="rounded-full hover:scale-110 my-[-0.5vh] hover:mb-[1vh] duration-400" />
                    <p class="text-[#4c56df] text-center hover-desc">kat wang</p>
                </div>
                <div class="hover-wrapper">
                    <Image src={shyla} alt="Shyla Singal" width="80" class="rounded-full hover:scale-110 my-[-0.5vh] hover:mb-[1vh] duration-400" />
                    <p class="text-[#4c56df] text-center hover-desc">shyla singal</p>
                </div>
                <div class="hover-wrapper">
                    <Image src={renran} alt="RenRan Sun" width="80" class="rounded-full hover:scale-110 my-[-0.5vh] hover:mb-[1vh] duration-400" />
                    <p class="text-[#4c56df] text-center hover-desc">renran sun</p>
                </div>
                <div class="hover-wrapper">
                    <Image src={susan} alt="Susan Zheng" width="80" class="rounded-full hover:scale-110 my-[-0.5vh] hover:mb-[1vh] duration-400" />
                    <p class="text-[#4c56df] text-center hover-desc">susan zheng</p>
                </div>
                <div class="hover-wrapper">
                    <Image src={yunfei} alt="Yunfei Shuai" width="80" class="rounded-full hover:scale-110 my-[-0.5vh] hover:mb-[1vh] duration-400" />
                    <p class="text-[#4c56df] text-center hover-desc">yunfei shuai</p>
                </div>
                <div class="hover-wrapper">
                    <Image src={alisa} alt="Alisa Ren" width="80" class="rounded-full hover:scale-110 my-[-0.5vh] hover:mb-[1vh] duration-400" />
                    <p class="text-[#4c56df] text-center hover-desc">alisa ren</p>
                </div>
                <div class="hover-wrapper">
                    <Image src={sophia} alt="Sophia Duan" width="80" class="rounded-full hover:scale-110 my-[-0.5vh] hover:mb-[1vh] duration-400" />
                    <p class="text-[#4c56df] text-center hover-desc">sophia duan</p>
                </div>
            </div>
            <h2 class="font-headings mt-[1vh] -mb-[1vh] text-[#4c56df]">made with <strong class="text-[#e881b4]">❤︎</strong> by kat wang </h2>
            <h2 class="font-headings mt-[1vh] -mb-[0.5vh] text-[#242781]">Storyboard: by teens, for teens ★</h2>
        </div>    
    </div>
</div>